<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ site.title }} | {{ page.title }}</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{{ "/assets/main.css" | absolute_url }}" />
</head>
<body>
    <header class="cover-header">
      <div class="data" >
        <h1><a href="{{ "/" | absolute_url }}" >{{ site.title }}</a></h1>
        <span class="description" >{{ site.slogan }}</span>
      </div>
      <nav >
        <a href="{{ "/om" | absolute_url }}">Om</a>
          <a class="social" href="http://twitter.com/{{ site.twitter }}" target="_blank">
            Twitter
          </a>
      </nav>
    </header>

    <div id="content" >
      <div id="articles" >
          <article >
            <h1><a href="{{ page.url }}" >{{ page.title }}</a></h1>
            <span class="date" >{{ page.date || date_to_string }}</span>
            {{ content }}
          </article>
      </div>

      <div id="sidebar" >
        <h2>Om mig</h2>
        <p>{{ site.description }}</p>
        <p class="footer">Fait avec &lt;3 en Normandie</p>
      </div>

    </div>


</body>
</html>
